<section>
{{#accordion-list-item
  title=(t "newPipeline.schedule.title")
  detail=(t "newPipeline.schedule.detail")
  status=(pretty-cron pipeline.cronTrigger.spec 'toString')
  statusClass='bg-success clip pull-right inline'
  expandAll=null
  expand=(action expandFn)
}}
  <div class="pt-20"></div>
  <div class="inline-form">
    <label>{{t "newPipeline.schedule.interval"}}</label>
    <div class="pt-10"></div>
    <label class="mr-30">{{radio-button selection=schdulePattern value="custom" disabled=(if (eq edit true) '' 'disabled')}}
        {{t "newPipeline.schedule.custom"}}(<a href="https://en.wikipedia.org/wiki/Cron" target="blank">{{t "newPipeline.schedule.cronSyntax"}}</a>)
    </label>
    <label class="mr-30">{{radio-button selection=schdulePattern value="day" disabled=(if (eq edit true) '' 'disabled')}}
        {{t "newPipeline.schedule.everyDay"}}
    </label>

    <div class="pt-10"></div>
    {{input class="form-control" disabled=schduleInputDisabled value=pipeline.cronTrigger.spec}}
    {{#if pipeline.cronTrigger.spec}}
      <p class="text-success mt-5 mb-0">{{pretty-cron pipeline.cronTrigger.spec 'toString'}}</p>
    {{/if}}
  </div>

  <div class="pt-20"></div>
  <div class="inline-form">
    <label>{{t "newPipeline.schedule.cronTimezone"}}</label>
    <div class="pt-10"></div>
    {{#power-select
      disabled=(if (eq edit true) '' 'disabled')
      options=timezones
      searchField="text"
      selected=selected
      onchange=(action (mut selected))
      as |timezone|
    }}
      {{timezone.text}}
    {{/power-select}}
  </div>

  <div class="pt-20"></div>
  <label>{{check-box class="form-control" checked=pipeline.cronTrigger.triggerOnUpdate disabled=(if (eq edit true) '' 'disabled')}}
    {{t "newPipeline.schedule.tip"}}
  </label>
{{/accordion-list-item}}

<div class="box">
    <label>{{check-box class="form-control" checked=pipeline.isActivate disabled=(if (eq edit true) '' 'disabled')}}
      {{t 'newPipeline.active'}}
    </label>
</div>
</section>
