<section class="box mb-20">
<h4>{{t 'newPipelineStep.stepType.catalog.editTemplate'}}</h4>
<div class="tabs">
  <div class="{{if (not-eq selectTemplateFromOldVersion true) 'hide'}}">
    <ul class="tab-header" role="tablist">
      {{#each selectedTemplateModel.filesAsArray as |file|}}
        <li role="tab" class="{{if (eq previewTab file.name) 'active'}}" {{action "selectPreviewTab" file.name}}><a href="#">{{file.name}} {{copy-to-clipboard clipboardText=file.body size="small"}}</a></li>
      {{/each}}
    </ul>

    <div class="tab-content" role="tabpanel">
      {{#each selectedTemplateModel.filesAsArray as |file|}}
        {{#if (eq previewTab file.name)}}
          <div class="">
            {{pipeline/pipeline-codemirror 
              value=file.body
              valueUpdated=(action (mut file.body))
              options=(hash autofocus=true lineNumbers=true 
              mode=(pipeline-file-extension file.name) readOnly=true readOnly=true)
              }}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="{{if (not-eq selectTemplateFromOldVersion false) 'hide'}}">
    <ul class="tab-header" role="tablist">
      {{#each selectedModel.filesAry as |file|}}
        <li role="tab" class="{{if (eq previewTabCI file.name) 'active'}}" {{action "selectPreviewTabCI" file.name}}><a href="#">{{file.name}}.CI {{copy-to-clipboard clipboardText=file.body size="small"}}</a></li>
      {{/each}}
    </ul>
    <div class="tab-content" role="tabpanel">
      {{#each selectedModel.filesAry as |file|}}
        {{#if (eq previewTabCI file.name)}}
          <div class="">
            {{pipeline/pipeline-codemirror 
              value=file.body
              valueUpdated=(action (mut file.body))
              options=(hash autofocus=true lineNumbers=true 
              mode=(pipeline-file-extension file.name) theme="monokai" readOnly=(if (eq modalOpts.type 'review') true false))
              }}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class="pt-10"></div>
  <div class="text-right">
  {{#if (not-eq modalOpts.type 'review')}}
    {{#if selectTemplateFromOldVersion}}
      <button class="btn bg-primary" {{action "setTemplate"}}>
        {{t 'generic.select'}}
      </button>
      <button class="btn bg-primary" {{action "setState" "selectTemplateFromOldVersion" false }}>
        {{t 'generic.cancel'}}
      </button> 
    {{else}}
      <button class="btn bg-primary" {{action "setState" "selectTemplateFromOldVersion" true }}>
        {{t 'newPipelineStep.stepType.catalog.selectTemplate'}}
      </button>
    {{/if}}
  {{/if}}
  </div>
  <div class="{{if (not-eq selectTemplateFromOldVersion true) 'hide'}}">
    <hr>
    <div class="row">
      <div class="col span-6">
        {{new-select
          classNames="form-control"
          content=sortedVersions
          prompt="newCatalog.version.prompt"
          localizedPrompt=true
          optionLabelPath="version"
          optionValuePath="link"
          value=selectedTemplateUrl
          disabled=getTemplate.isRunning
        }}
        <p class="text-info">{{t 'newPipelineStep.stepType.catalog.selectTemplateTip'}}</p>
      </div>
    </div>
  </div>
</div>

</section>

<section class="box mb-20">
<div class="pt-10"></div>
<h2>
  <div class="checkbox pt-10">
    <label class="acc-label pb-5">{{input type="checkbox" checked=selectedModel.deploy disabled=(if (eq modalOpts.type 'review') true false)}} {{t 'newPipelineStep.stepType.catalog.upgrade'}}</label>
  </div>
</h2>
<p class="text-muted mt-0 mb-0">{{t 'newPipelineStep.stepType.catalog.upgradeTip'}}</p>
{{#if selectedModel.deploy}}
  <div class="pt-10"></div>
  <div class="inline-form">
    <label>{{t 'newPipelineStep.stepType.catalog.stackName'}} {{field-required}}</label>
    <div class="pt-10"></div>
    {{input
      class="js-var-hint"
      value=selectedModel.stackName
      placeholder="stack name"
      disabled=(if (eq modalOpts.type 'review') true false)
    }}
  </div>

  <div class="pt-10"></div>
  <div class="tabs">
    <ul class="tab-header" role="tablist">
      <li role="tab" class="active"><a href="#">{{t 'newCatalog.txt'}} {{copy-to-clipboard clipboardText=selectedModel.answerString size="small"}}</a></li>
    </ul>
    <div class="tab-content" role="tabpanel">
      {{pipeline/pipeline-codemirror 
        value=selectedModel.answerString
        valueUpdated=(action (mut selectedModel.answerString))
        options=(hash autofocus=true lineNumbers=true mode="text" theme="monokai" readOnly=(if (eq modalOpts.type 'review') true false))
        }}
    </div>
  </div>

  {{pipeline/pipeline-step-env-setting
    model=selectedModel
    modalOpts=modalOpts
  }}
{{/if}}
</section>